.content {
  padding: 1rem 3rem 1rem 5rem;

  min-height: 100%; 

  display: none;
  visibility: hidden;

  grid-template-rows: 3rem repeat(6, 5rem);

  gap: 1rem;

  h2 {
    text-align: center;
  }

  &.activePage {
    display: grid;
    visibility: visible;

    .card {
      animation: card-animation 1s forwards; 
    }
  }

  .card {
    height: fit-content;
    max-width: 20rem;
    width: fit-content;

    align-self: center;

    padding: 0.75rem 1.5rem;
    display: flex;

    background-color: rgb(214, 215, 210, 0.5);

    border-radius: 2.5rem;

    grid-column: 1;

    //box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.301);
    cursor: pointer;

    color: var(--red-300);

    transition: filter 0.5s;

    transform: translateX(-25%); 
    opacity: 0;

    &:hover {
      filter: brightness(1.1);
    }

    img {
      border-radius: 1rem;
      height: 100%;
      width: 4.5rem;
      margin-right: 1rem;
    }

    h3 {
      font-weight: bolder;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
    }
  }

  .cardEven {
    justify-self: end;
    transform: translateX(25%);
  }
}

@keyframes card-animation {
  to {
    transform: translateX(0); 
    opacity: 1; 
  }
}

@media (max-width: 1023px) {
  .content {
    padding: 0 ;

    .card, .cardEven {
      justify-self: center;
    }
  }
}