.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;

  animation: opacity-in 2s ease; 

  &.transition {
    animation: opacity-out 1s ease forwards;
  }
}

.backgroundImg {
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;

  opacity: 0;
  transform: scale(1);
  filter: contrast(70%), brightness(50%);
  position: absolute;

  transition: opacity 1s;

  object-fit: cover;
}

.wrapper {
  max-width: 1600px;
  max-height: calc(100vh - 6rem);

  margin: 0 auto;
  padding: 5rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background-color: transparent;

  .about {
    padding-right: 2rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.65rem;
      text-align: justify;
      text-indent: 1rem;

      &.smaller {
        text-indent: 0;
        line-height: 1.75rem; 
      }
    }

    p + p {
      margin-top: 1rem;
    }
  }

  .contentWrapper {
    display: grid;

    grid-template-columns: 1fr 2rem;
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
    overflow-y: auto;

    .about {
      margin-bottom: 3rem;
      
    }

    .contentWrapper {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 2rem;
    }
  }
}

@keyframes opacity-in {
  from{
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from{
    opacity: 1; 
  }
  to {
    opacity: 0;
  }
}