
.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  opacity: 0;
  animation: opacity-in 2s ease forwards; 

  .header {
    min-width: 1600px;
    height: 6rem;

    padding: 0 2rem; 
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;

      font-size: 2rem; 

      a + a{
        margin-left: 1rem;
        border-left: 2px solid rgba(0, 0, 0, 0.507);
        padding-left: 1rem; 
      }

    }

    a {
      width: fit-content;
      display: flex;
      text-decoration: none;
      color: var(--black);
    }

    img {
      height: 6rem;
      width: 6rem;

      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;

      line-height: 1.5rem; 
    }

    strong {
      display: block;
      margin-left: 1rem;
    }
  }
}

.backgroundImg {
  height: 850px;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  cursor: pointer;
  transition: filter 1s, transform 1s; 

  animation: blur-in 2s ease;

  &.backgroundImgActive {
    position: absolute;

    animation: blur-out 1s ease forwards; 

    top: 6rem; 
    z-index: -1;
    
    cursor: normal;
  }
}  

.content {
  max-height: calc(100vh - 6rem);
  max-width: 100vw; 

  display: grid;
  width: fit-content;

  padding: 5rem 3rem 5rem 12.5rem;

  grid-template-columns: repeat(7, 25rem);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3rem;

  overflow-x: scroll;
  overflow-y: hidden;
  
  flex: 1;

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.404); 
    border-radius: 8px;
  }
  
  .card {
    width: 22.5rem; 
    height: 22.5rem; 
    min-height: 22.5rem;

    grid-row: 1; 

    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 .5rem 20px rgba(0, 0, 0, 0.301); 

    background: var(--background-white);

    transition: all 1s;

    cursor: pointer;
    opacity: 0; 

    img {
      width: 100%;
    }

    .cardContent {
      height: 100%;
      padding: 1rem; 

      
      transition: background 1s;

      h2 {
        font-size: 1.25rem;
        padding-left: 1rem;
      }

      p {
        font-size: 1.125rem;
        margin-top: .5rem;
        text-align: justify;
        text-indent: 1rem;
      }
    }

    &.card1 {
      transform: translateY(-50%);
      animation: card-fade-in 1s forwards;
    }

    &.card2 {
      grid-area: 2 / 2 / 2 / 2; 
      align-self: end;
      transform: translateY(50%);
      animation: card-fade-in 1s .25s forwards;
    }

    &.card3 {
      grid-area: 1 / 3 / 1 / 3;
      transform: translateY(-50%);
      animation: card-fade-in 1s .5s forwards;
    }

    &.card4 {
      grid-area: 2 / 4 / 2 / 4;
      align-self: end;
      transform: translateY(50%);
      animation: card-fade-in 1s .75s forwards;
    }

    &.card5 {
      grid-area: 1 / 5 / 1 / 5;
      transform: translateY(50%);
      animation: card-fade-in 1s 1s forwards;
    }

    &.card6 {
      grid-area: 2 / 6 / 2 / 6;
      align-self: end;
      transform: translateY(-50%);
      animation: card-fade-in 1s 1.25s forwards;
    }

    &.card7 {
      grid-area: 1 / 7 / 1 / 7;
      transform: translateY(50%);
      animation: card-fade-in 1s 1.5s forwards;
    }

    &:hover {
      height: 100%; 
      
      grid-row: 1 / 3; 

      .cardContent {
        background: var(--background-white);
      }
    }
  }
}

@keyframes card-fade-in {
  to {
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes opacity-in {
  to {
    opacity: 1;
  }
}

@keyframes blur-in {
  from {
    filter: blur(5rem)
  }
  to {
    filter: blur(0); 
  }
}

@keyframes blur-out {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(3rem); 
  }
}